################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vector/vector/bin/Debug
/vector/vector/obj/Debug
/Matrix/MatrixUnitTest/bin/Debug
/Matrix/Matrix/obj/Debug
/Matrix/Matrix/bin/Debug
/Matrix/MatrixUnitTest/obj/Debug
